body{

background:#050505;
color:white;
font-family:Arial;
text-align:center;

}

.center{

margin-top:200px;

}

.logo{

font-size:60px;

}

.btn{

padding:15px 40px;
background:#0071e3;
border:none;
color:white;
border-radius:12px;
cursor:pointer;

}

.card{

width:400px;
margin:auto;
display:flex;
flex-direction:column;
gap:10px;

}

.profile{

margin-top:100px;

}