
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
}

body{
background:#050505;
color:white;
overflow-x:hidden;
}

/* PARTICLES */

#particles{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
z-index:-1;
}

/* HOME */

#home{
height:100vh;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:30px;
}

.logo{
font-size:70px;
font-weight:700;
}

.logo span{
color:#0071e3;
}

/* BUTTON */

.btn{
padding:14px 40px;
background:#0071e3;
border:none;
border-radius:14px;
color:white;
font-weight:600;
cursor:pointer;
transition:0.2s;
}

.btn:hover{
transform:translateY(-3px);
box-shadow:0 10px 20px rgba(0,113,227,0.4);
}

/* PROFILE */

.profile-card{

backdrop-filter:blur(25px);
background:rgba(20,20,20,0.7);

border:1px solid rgba(255,255,255,0.1);

padding:50px;
border-radius:30px;

width:400px;
margin:auto;

text-align:center;

margin-top:100px;

}

/* AVATAR */

.avatar{
width:130px;
height:130px;
border-radius:50%;
border:4px solid #0071e3;
object-fit:cover;
margin-bottom:20px;
box-shadow:0 0 30px rgba(0,113,227,0.5);
}

/* SOCIAL */

#socials{
display:flex;
justify-content:center;
gap:20px;
margin-top:20px;
}

#socials a{
font-size:22px;
color:white;
transition:0.2s;
}

#socials a:hover{
transform:scale(1.3);
color:#0071e3;
}

.hidden{
display:none;
}
